<div class="row">
  <div class="col-6">
    <h1 class="text-primary text-center">{{ title }}</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>EmpNo</th>
          <th>Name</th>
          <th>Job</th>
          <th>Salary</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ EmpNo }}</td>
          <td>{{ Name }}</td>
          <td>{{ Job }}</td>
          <td>{{ Salary }}</td>
          <td>{{ Address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6 form-group">
    <div class="col-4">
      <h2 class="text-center text-success">Registration</h2>
      <label for="userName" class="form-label">User Name</label>
      <input type="text" name="userName" id="userName" class="form-control" />
    </div>
    <div class="col-4">
      <label for="emailId">EmailId</label>
      <input type="text" name="emailId" id="emailId" class="form-control" />
    </div>
    <div class="col-4">
      <label for="password">Password</label>
      <input type="text" name="password" id="password" class="form-control" />
    </div>
    <div class="col-4 mt-3">
      <button type="submit" class="btn btn-success">Registration</button> &nbsp;
      <button type="reset" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>